<!DOCTYPE HTML>
<html>
  <head>
    <title>ERROR</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="https://s.ssss.fun/404/404.ico" />
    <link rel="bookmark"href="https://s.ssss.fun/404/404.ico" />
  </head>
  <body>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
  </body>
</html>
